.App {
  text-align: center;
  color:#A9B7C6;
}

.App-Container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.portrait {
  width: 300px;
  border-radius: 100%;
  margin: 24px;
}

ul li {
  list-style: none;
}

.app-title {
  margin: 24px;
  font-size: 64px;
  color: #FFC66D;
}

h3 {
  color: #619647
}
